[submodule "src/Services/SportsDataService/src/SimPitchProtos"]
	path = src/Services/SportsDataService/src/SimPitchProtos
	url = https://github.com/SzymonKoniecko/SimPitchProtos.git
[submodule "src/Services/LoggingService/src/SimPitchProtos"]
	path = src/Services/LoggingService/src/SimPitchProtos
	url = https://github.com/SzymonKoniecko/SimPitchProtos.git
[submodule "src/Services/SimulationService/src/SimPitchProtos"]
	path = src/Services/SimulationService/src/SimPitchProtos
	url = https://github.com/SzymonKoniecko/SimPitchProtos.git
[submodule "src/Services/StatisticsService/src/SimPitchProtos"]
	path = src/Services/StatisticsService/src/SimPitchProtos
	url = https://github.com/SzymonKoniecko/SimPitchProtos.git
[submodule "src/Frontend"]
	path = src/Frontend
	url = https://github.com/SzymonKoniecko/SimPitchWeb.git
[submodule "src/Services/EngineService/src/SimPitchProtos"]
	path = src/Services/EngineService/src/SimPitchProtos
	url = https://github.com/SzymonKoniecko/SimPitchProtos.git
[submodule "src/Selenium"]
	path = src/Selenium
	url = https://github.com/SzymonKoniecko/SimPitchSelenium.git
