services:
  logging-service:
    image: simpitch-logging-service:latest
    container_name: simpitch-logging
    ports:
      - "${LOGGING_SERVICE_HOST_PORT_GRPC:-5001}:${LOGGING_SERVICE_CONTAINER_PORT_GRPC:-5001}"
    environment:
      ASPNETCORE_ENVIRONMENT: ${ASPNETCORE_ENVIRONMENT:-Production}
      ASPNETCORE_URLS: http://+:${LOGGING_SERVICE_CONTAINER_PORT_GRPC:-5001}
      ConnectionStrings__LoggingDb: ${LOGGING_DB_CONN}
    depends_on:
      - mssql
    networks:
      - simpitch_net

  engine-service:
    image: simpitch-engine-service:latest
    container_name: simpitch-engine
    ports:
      - "${ENGINE_SERVICE_HOST_PORT_REST:-5002}:${ENGINE_SERVICE_CONTAINER_PORT_REST:-5002}"
    environment:
      ASPNETCORE_ENVIRONMENT: ${ASPNETCORE_ENVIRONMENT:-Production}
      ASPNETCORE_URLS: http://+:${ENGINE_SERVICE_CONTAINER_PORT_REST:-5002}
      ConnectionStrings__EngineDb: ${ENGINE_DB_CONN}
      GrpcLogging__Address: http://logging-service:${LOGGING_SERVICE_CONTAINER_PORT_GRPC:-5001}
      GrpcLogging__SourceName: EngineService
      SimulationService__Address: http://simulation-service:${SIMULATION_SERVICE_CONTAINER_PORT_GRPC:-5003}
      StatisticsService__Address: http://statistics-service:${STATISTICS_SERVICE_CONTAINER_PORT_GRPC:-5004}
    depends_on:
      - mssql
      - logging-service
      - simulation-service
      - statistics-service
    networks:
      - simpitch_net

  sportsdata-service:
    image: simpitch-sportsdata-service:latest
    container_name: simpitch-sportsdata
    ports:
      - "${SPORTSDATA_SERVICE_HOST_PORT_REST:-5005}:${SPORTSDATA_SERVICE_CONTAINER_PORT_REST:-5005}"
      - "${SPORTSDATA_SERVICE_HOST_PORT_GRPC:-5006}:${SPORTSDATA_SERVICE_CONTAINER_PORT_GRPC:-5006}"
    environment:
      ASPNETCORE_ENVIRONMENT: ${ASPNETCORE_ENVIRONMENT:-Production}
      ConnectionStrings__SportsDataDb: ${SPORTSDATA_DB_CONN}
      GrpcLogging__Address: http://logging-service:${LOGGING_SERVICE_CONTAINER_PORT_GRPC:-5001}
      GrpcLogging__SourceName: SportsDataService
      ConnectionStrings__Redis: ${REDIS_CONN_STRING}
    depends_on:
      - mssql
      - logging-service
    networks:
      - simpitch_net

  simulation-service:
    image: simpitch-simulation-service:latest
    container_name: simpitch-simulation
    ports:
      - "${SIMULATION_SERVICE_HOST_PORT_GRPC:-5003}:${SIMULATION_SERVICE_CONTAINER_PORT_GRPC:-5003}"
    environment:
      ASPNETCORE_ENVIRONMENT: ${ASPNETCORE_ENVIRONMENT:-Production}
      ASPNETCORE_URLS: http://+:${SIMULATION_SERVICE_CONTAINER_PORT_GRPC:-5003}
      ConnectionStrings__SimulationDb: ${SIMULATION_DB_CONN}
      ConnectionStrings__Redis: ${REDIS_CONN_STRING}
      GrpcLogging__Address: http://logging-service:${LOGGING_SERVICE_CONTAINER_PORT_GRPC:-5001}
      GrpcLogging__SourceName: SimulationService
      SportsDataService__Address: http://sportsdata-service:${SPORTSDATA_SERVICE_CONTAINER_PORT_GRPC:-5006}
      StatisticsService__Address: http://statistics-service:${STATISTICS_SERVICE_CONTAINER_PORT_GRPC:-5004}
    depends_on:
      - mssql
      - logging-service
    networks:
      - simpitch_net

  statistics-service:
    image: simpitch-statistics-service:latest
    container_name: simpitch-statistics
    ports:
      - "${STATISTICS_SERVICE_HOST_PORT_GRPC:-5004}:${STATISTICS_SERVICE_CONTAINER_PORT_GRPC:-5004}"
    environment:
      ASPNETCORE_ENVIRONMENT: ${ASPNETCORE_ENVIRONMENT:-Production}
      ASPNETCORE_URLS: http://+:${STATISTICS_SERVICE_CONTAINER_PORT_GRPC:-5004}
      ConnectionStrings__StatisticsDb: ${STATISTICS_DB_CONN}
      GrpcLogging__Address: http://logging-service:${LOGGING_SERVICE_CONTAINER_PORT_GRPC:-5001}
      GrpcLogging__SourceName: StatisticsService
      SportsDataService__Address: http://sportsdata-service:${SPORTSDATA_SERVICE_CONTAINER_PORT_GRPC:-5006}
      SimulationService__Address: http://simulation-service:${SIMULATION_SERVICE_CONTAINER_PORT_GRPC:-5003}
    depends_on:
      - mssql
      - logging-service
    networks:
      - simpitch_net

  frontend:
    image: simpitch-frontend:latest
    container_name: simpitchweb
    ports:
      - "${WEB_DEV_PORT:-5173}:${WEB_DEV_PORT:-5173}"
    environment:
      NODE_ENV: production
      VITE_API_TARGET: ${VITE_API_TARGET}
      DOCKER_ENV: "true"
    depends_on:
      - gateway
    networks:
      - simpitch_net

  gateway:
    image: simpitch-gateway:latest
    container_name: nginx-gateway
    ports:
      - "${GATEWAY_HOST_PORT:-8080}:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - engine-service
      - logging-service
      - statistics-service
      - simulation-service
    restart: unless-stopped
    networks:
      - simpitch_net

  redis-cache:
    image: redis:7
    container_name: redis-service
    command: redis-server --requirepass ${REDIS_PASS}
    ports:
      - "${REDIS_PORT:-6379}:6379"
    volumes:
      - cache:/data
    networks:
      - simpitch_net

  mssql:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: simpitch-mssql
    environment:
      SA_PASSWORD: ${DB_PASSWORD}
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    volumes:
      - mssql_data:/var/opt/mssql
    networks:
      - simpitch_net

  mssql-init:
    image: mcr.microsoft.com/mssql-tools
    depends_on:
      - mssql
    volumes:
      - ./sql/init.sql:/tmp/init.sql
    entrypoint: >
      /bin/bash -c "
        sleep 5 &&
        /opt/mssql-tools/bin/sqlcmd -S mssql -U ${DB_ADMIN} -P ${DB_PASSWORD} -d master -i /tmp/init.sql
      "
    networks:
      - simpitch_net

  seed-data:
    image: simpitch-seed-data:latest
    environment:
      DB_ADMIN: ${DB_ADMIN}
      SA_PASSWORD: ${DB_PASSWORD}
      SEED_DATA: ${SEED_DATA}
    depends_on:
      - mssql
      - mssql-init
    networks:
      - simpitch_net

networks:
  simpitch_net:
    driver: bridge

volumes:
  mssql_data:
  cache:
