services:
  logging-service:
    image: simpitch-tc-logging-service:latest
    ports:
      - "${LOGGING_SERVICE_HOST_PORT_GRPC}:${LOGGING_SERVICE_CONTAINER_PORT_GRPC}"
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - ASPNETCORE_URLS=${ASPNETCORE_URL}:${LOGGING_SERVICE_CONTAINER_PORT_GRPC}
      - ConnectionStrings__LoggingDb=Server=mssql;Database=LoggingDb;User Id=${DB_ADMIN};Password=${DB_PASSWORD};Encrypt=True;TrustServerCertificate=True;MultipleActiveResultSets=True;Connection Timeout=30;
    networks:
      - backend_network
    depends_on:
      - mssql

  sportsdata-service:
    image: simpitch-tc-sportsdata-service:latest
    ports:
      - "${SPORTSDATA_SERVICE_HOST_PORT_REST}:${SPORTSDATA_SERVICE_CONTAINER_PORT_REST}"
      - "${SPORTSDATA_SERVICE_HOST_PORT_GRPC}:${SPORTSDATA_SERVICE_CONTAINER_PORT_GRPC}"
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - ConnectionStrings__SportsDataDb=Server=mssql;Database=SportsDataDb;User Id=${DB_ADMIN};Password=${DB_PASSWORD};Encrypt=True;TrustServerCertificate=True;MultipleActiveResultSets=True;Connection Timeout=30;
      - GrpcLogging__Address=http://${LOGGING_SERVICE_NAME}:${LOGGING_SERVICE_CONTAINER_PORT_GRPC}
      - GrpcLogging__SourceName=SportsDataService
      - ConnectionStrings__Redis=${REDIS_CONN_STRING}

      #- Kestrel__Endpoints__Grpc__Url=http://0.0.0.0:${SPORTSDATA_SERVICE_CONTAINER_PORT_GRPC}
      #- Kestrel__Endpoints__Rest__Url=http://0.0.0.0:${SPORTSDATA_SERVICE_CONTAINER_PORT_REST}
    networks:
      - backend_network
    depends_on:
      - mssql
      - logging-service

  engine-service:
    image: simpitch-tc-engine-service:latest
    ports:
      - "${ENGINE_SERVICE_HOST_PORT_REST}:${ENGINE_SERVICE_CONTAINER_PORT_REST}"
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - ASPNETCORE_URLS=${ASPNETCORE_URL}:${ENGINE_SERVICE_CONTAINER_PORT_REST}
      - ConnectionStrings__EngineDb=Server=mssql;Database=EngineDb;User Id=${DB_ADMIN};Password=${DB_PASSWORD};Encrypt=True;TrustServerCertificate=True;MultipleActiveResultSets=True;Connection Timeout=30;
      - GrpcLogging__Address=http://${LOGGING_SERVICE_NAME}:${LOGGING_SERVICE_CONTAINER_PORT_GRPC}
      - GrpcLogging__SourceName=EngineService
      - SimulationService__Address=http://${SIMULATION_SERVICE_NAME}:${SIMULATION_SERVICE_CONTAINER_PORT_GRPC}
      - StatisticsService__Address=http://${STATISTICS_SERVICE_NAME}:${STATISTICS_SERVICE_CONTAINER_PORT_GRPC}
    networks:
      - backend_network
    depends_on:
      - mssql
      - logging-service
      - statistics-service
      - simulation-service

  simulation-service:
    image: simpitch-tc-simulation-service:latest
    ports:
      - "${SIMULATION_SERVICE_HOST_PORT_GRPC}:${SIMULATION_SERVICE_CONTAINER_PORT_GRPC}"
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - ASPNETCORE_URLS=${ASPNETCORE_URL}:${SIMULATION_SERVICE_CONTAINER_PORT_GRPC}
      - ConnectionStrings__SimulationDb=Server=mssql;Database=SimulationDb;User Id=${DB_ADMIN};Password=${DB_PASSWORD};Encrypt=True;TrustServerCertificate=True;MultipleActiveResultSets=True;Connection Timeout=30;
      - ConnectionStrings__Redis=${REDIS_CONN_STRING}
      - GrpcLogging__Address=http://${LOGGING_SERVICE_NAME}:${LOGGING_SERVICE_CONTAINER_PORT_GRPC}
      - GrpcLogging__SourceName=SimulationService
      - SportsDataService__Address=http://${SPORTSDATA_SERVICE_NAME}:${SPORTSDATA_SERVICE_CONTAINER_PORT_GRPC}
      - StatisticsService__Address=http://${STATISTICS_SERVICE_NAME}:${STATISTICS_SERVICE_CONTAINER_PORT_GRPC}
      - SimPitchMl__Address=http://${SIMPITCHML_SERVICE_NAME}:${SIMPITCHML_SERVICE_CONTAINER_PORT_GRPC}
    networks:
      - backend_network
    depends_on:
      - mssql
      - logging-service

  statistics-service:
    image: simpitch-tc-statistics-service:latest
    ports:
      - "${STATISTICS_SERVICE_HOST_PORT_GRPC}:${STATISTICS_SERVICE_CONTAINER_PORT_GRPC}"
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - ASPNETCORE_URLS=${ASPNETCORE_URL}:${STATISTICS_SERVICE_CONTAINER_PORT_GRPC}
      - ConnectionStrings__StatisticsDb=Server=mssql;Database=StatisticsDb;User Id=${DB_ADMIN};Password=${DB_PASSWORD};Encrypt=True;TrustServerCertificate=True;MultipleActiveResultSets=True;Connection Timeout=30;
      - GrpcLogging__Address=http://${LOGGING_SERVICE_NAME}:${LOGGING_SERVICE_CONTAINER_PORT_GRPC}
      - GrpcLogging__SourceName=StatisticsService
      - SportsDataService__Address=http://${SPORTSDATA_SERVICE_NAME}:${SPORTSDATA_SERVICE_CONTAINER_PORT_GRPC}
      - SimulationService__Address=http://${SIMULATION_SERVICE_NAME}:${SIMULATION_SERVICE_CONTAINER_PORT_GRPC}
    networks:
      - backend_network
    depends_on:
      - mssql
      - logging-service

  redis-cache:
    image: redis:6.2-alpine
    restart: always
    ports:
      - '${REDIS_PORT}:${REDIS_PORT}'
    command: redis-server --save 20 1 --loglevel warning --requirepass ${REDIS_PASS}
    networks:
      - backend_network
    volumes: 
      - cache:/data

  mssql:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      SA_PASSWORD: ${DB_PASSWORD}
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    networks:
      - backend_network
    volumes:
      - mssql_data:/var/opt/mssql
    restart: no


  mssql-init:
    image: simpitch-tc-mssql-init:latest
    environment:
      DB_ADMIN: ${DB_ADMIN}
      SA_PASSWORD: ${DB_PASSWORD}
    networks:
      - backend_network
    depends_on:
      - mssql
  
  seed-data:
    image: simpitch-tc-seed-data:latest
    environment:
      DB_ADMIN: ${DB_ADMIN}
      SA_PASSWORD: ${DB_PASSWORD}
      SEED_DATA: ${SEED_DATA}
    networks:
      - backend_network
    depends_on:
      - mssql
      - mssql-init


  frontend:
    image: simpitch-tc-frontend:latest
    ports: 
      - "${WEB_DEV_PORT}:${WEB_DEV_PORT}"
    expose:
      - "${WEB_DEV_PORT}"
    environment:
    - NODE_ENV=development
    - VITE_API_TARGET=${VITE_API_TARGET}
    - DOCKER_ENV=true
    - HMR_HOST=localhost
    command: npm run dev -- --host --port ${WEB_DEV_PORT}
    restart: unless-stopped
    networks:
      - backend_network
    depends_on:
      - logging-service
  
  simpitch-ml-service:
    image: simpitch-tc-simpitch-ml-service:latest
    ports:
      - "${SIMPITCHML_SERVICE_HOST_PORT_REST}:${SIMPITCHML_SERVICE_CONTAINER_PORT_REST}"
      - "${SIMPITCHML_SERVICE_HOST_PORT_GRPC}:${SIMPITCHML_SERVICE_CONTAINER_PORT_GRPC}"
    
    environment:
      - SIMULATION_GRPC_SERVER_HOST=${SIMULATION_SERVICE_NAME}
      - SIMULATION_GRPC_SERVER_PORT=${SIMULATION_SERVICE_CONTAINER_PORT_GRPC}
      - SIMULATION_GRPC_TIMEOUT=${GRPC_TIMEOUT}
      
      - SPORTSDATA_GRPC_SERVER_HOST=${SPORTSDATA_SERVICE_NAME}
      - SPORTSDATA_GRPC_SERVER_PORT=${SPORTSDATA_SERVICE_CONTAINER_PORT_GRPC}
      - SPORTSDATA_GRPC_TIMEOUT=${GRPC_TIMEOUT}
      - GRPC_PAGINATION_LIMIT=${GRPC_PAGINATION_LIMIT}

      - FASTAPI_SEVER_HOST=0.0.0.0
      - FASTAPI_SEVER_PORT=${SIMPITCHML_SERVICE_CONTAINER_PORT_REST}
      - ENVIRONMENT=${ENVIRONMENT}
      - LOG_LEVEL=${LOG_LEVEL:-INFO}
      - MAX_WORKERS=${MAX_WORKERS:-10} # Domyślnie 10 jeśli nie ustawione w .env
      - STORAGE_DIR=/app/data_storage 
    #extra_hosts:
    #  - "host.docker.internal:host-gateway"
    #volumes:
    #  - ./models:/app/models
    #  - ./logs:/app/logs
    volumes:
      - simpitch_ml_data:/app/data_storage
    networks:
      - backend_network
    restart: unless-stopped
  
  gateway:
    image: simpitch-tc-gateway:latest
    ports:
      - "${GATEWAY_HOST_PORT}:${GATEWAY_SERVICE_CONTAINER_PORT}"
    depends_on:
      - engine-service
      - logging-service
      - statistics-service
      - simulation-service
      - sportsdata-service
    networks:
      - backend_network
    restart: unless-stopped


  selenium:
    image: selenium/standalone-chromium:latest
    shm_size: 2gb
    ports:
      - "4444:4444"
    networks:
      - backend_network
    depends_on:
      - gateway
      - engine-service
      - logging-service
      - statistics-service
      - simulation-service
      - sportsdata-service


networks:
  backend_network:

volumes:
  mssql_data:
  cache:
    driver: local
  simpitch_ml_data: