
services:
  logging-service:
    build:
      context: src/Services/LoggingService/
      dockerfile: src/LoggingService.API/Dockerfile
  sportsdata-service:
    build:
      context: src/Services/SportsDataService/
      dockerfile: src/SportsDataService.API/Dockerfile
  simulation-service:
    build:
      context: src/Services/SimulationService/
      dockerfile: src/SimulationService.API/Dockerfile



  mssql:
    image: mcr.microsoft.com/mssql/server:2022-latest
  mssql-init:
    image: mcr.microsoft.com/mssql-tools
  seed-data:
    build:
      context: sql/seed-data/SportsDataDb/
      dockerfile: Dockerfile.seed



networks:
  backend_network:
volumes:
  mssql_data: