services:
  logging-service:
    ports:
      - "${LOGGING_SERVICE_HOST_PORT}:${LOGGING_SERVICE_CONTAINER_PORT}"
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - ASPNETCORE_URLS=${ASPNETCORE_URL}:${LOGGING_SERVICE_CONTAINER_PORT}
      - ConnectionStrings__LoggingDb=Server=mssql;Database=LoggingDb;User Id=${DB_ADMIN};Password=${DB_PASSWORD};Encrypt=True;TrustServerCertificate=True;MultipleActiveResultSets=True;Connection Timeout=30;
    networks:
      - backend_network
    depends_on:
      - mssql

  sportsdata-service:
    ports:
      - "${SPORTSDATA_SERVICE_HOST_PORT}:${SPORTSDATA_SERVICE_CONTAINER_PORT}"
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - ASPNETCORE_URLS=${ASPNETCORE_URL}:${SPORTSDATA_SERVICE_CONTAINER_PORT}
      - ConnectionStrings__SportsDataDb=Server=mssql;Database=SportsDataDb;User Id=${DB_ADMIN};Password=${DB_PASSWORD};Encrypt=True;TrustServerCertificate=True;MultipleActiveResultSets=True;Connection Timeout=30;
      - GrpcLogging__Address=http://${LOGGING_SERVICE_NAME}:${LOGGING_SERVICE_CONTAINER_PORT}
      - GrpcLogging__SourceName=SportsDataService
    networks:
      - backend_network
    depends_on:
      - mssql
      - logging-service

  simulation-service:
    ports:
      - "${SIMULATION_SERVICE_HOST_PORT}:${SIMULATION_SERVICE_CONTAINER_PORT}"
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - ASPNETCORE_URLS=${ASPNETCORE_URL}:${SIMULATION_SERVICE_CONTAINER_PORT}
      - ConnectionStrings__SimulationDb=Server=mssql;Database=SimulationDb;User Id=${DB_ADMIN};Password=${DB_PASSWORD};Encrypt=True;TrustServerCertificate=True;MultipleActiveResultSets=True;Connection Timeout=30;
      - GrpcLogging__Address=http://${LOGGING_SERVICE_NAME}:${LOGGING_SERVICE_CONTAINER_PORT}
      - GrpcLogging__SourceName=SimulationService
      - SportsDataService__Address=http://${SPORTSDATA_SERVICE_NAME}:${SPORTSDATA_SERVICE_CONTAINER_PORT}
    networks:
      - backend_network
    depends_on:
      - mssql
      - logging-service

  statistics-service:
    ports:
      - "${STATISTICS_SERVICE_HOST_PORT}:${STATISTICS_SERVICE_CONTAINER_PORT}"
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - ASPNETCORE_URLS=${ASPNETCORE_URL}:${STATISTICS_SERVICE_CONTAINER_PORT}
      - ConnectionStrings__StatisticsDb=Server=mssql;Database=StatisticsDb;User Id=${DB_ADMIN};Password=${DB_PASSWORD};Encrypt=True;TrustServerCertificate=True;MultipleActiveResultSets=True;Connection Timeout=30;
      - GrpcLogging__Address=http://${LOGGING_SERVICE_NAME}:${LOGGING_SERVICE_CONTAINER_PORT}
      - GrpcLogging__SourceName=StatisticsService
      - SportsDataService__Address=http://${SPORTSDATA_SERVICE_NAME}:${SPORTSDATA_SERVICE_CONTAINER_PORT}
    networks:
      - backend_network
    depends_on:
      - mssql
      - logging-service

  mssql:
    environment:
      SA_PASSWORD: ${DB_PASSWORD}
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    networks:
      - backend_network
    volumes:
      - mssql_data:/var/opt/mssql
      - ./sql/init.sql:/tmp/init.sql

  mssql-init:
    entrypoint: >
      /bin/bash -c "
        echo 'Waiting for SQL Server...';
        sleep 3;
        /opt/mssql-tools/bin/sqlcmd -S mssql -U ${DB_ADMIN} -P ${DB_PASSWORD} -d master -i /tmp/init.sql;
      "
    volumes:
      - ./sql/init.sql:/tmp/init.sql
    networks:
      - backend_network
    depends_on:
      - mssql
  seed-data:
    environment:
      DB_ADMIN: ${DB_ADMIN}
      SA_PASSWORD: ${DB_PASSWORD}
      SEED_DATA: ${SEED_DATA}
    networks:
      - backend_network
    depends_on:
      - mssql


networks:
  backend_network:

volumes:
  mssql_data:
