services:
  logging-service:
    ports:
      - "${LOGGING_SERVICE_HOST_PORT}:${LOGGING_SERVICE_CONTAINER_PORT}"
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - ASPNETCORE_URLS=${ASPNETCORE_URL}:${LOGGING_SERVICE_CONTAINER_PORT}
      - ConnectionStrings__LoggingDb=Server=mssql;Database=LoggingDb;User Id=${DB_ADMIN};Password=${DB_PASSWORD};Encrypt=True;TrustServerCertificate=True;MultipleActiveResultSets=True;Connection Timeout=30;
    networks:
      - backend_network
    depends_on:
      - mssql
      - mssql-init

  sportsdata-service:
    ports:
      - "${SPORTSDATA_SERVICE_HOST_PORT}:${SPORTSDATA_SERVICE_CONTAINER_PORT}"
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - ASPNETCORE_URLS=${ASPNETCORE_URL}:${SPORTSDATA_SERVICE_CONTAINER_PORT}
      - ConnectionStrings__SportsDataDb=Server=mssql;Database=SportsDataDb;User Id=${DB_ADMIN};Password=${DB_PASSWORD};Encrypt=True;TrustServerCertificate=True;MultipleActiveResultSets=True;Connection Timeout=30;
    networks:
      - backend_network
    depends_on:
      - mssql
      - mssql-init
      - logging-service

  mssql:
    environment:
      SA_PASSWORD: ${DB_PASSWORD}
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    networks:
      - backend_network
    volumes:
      - mssql_data:/var/opt/mssql
      - ./sql/init.sql:/tmp/init.sql

  mssql-init:
    depends_on:
      - mssql
    entrypoint: >
      /bin/bash -c "
        echo 'Waiting for SQL Server...';
        sleep 30;
        /opt/mssql-tools/bin/sqlcmd -S mssql -U ${DB_ADMIN} -P ${DB_PASSWORD} -d master -i /tmp/init.sql;
      "
    volumes:
      - ./sql/init.sql:/tmp/init.sql
    networks:
      - backend_network

networks:
  backend_network:

volumes:
  mssql_data:
