services:
  logging-service:
    image: simpitch-logging-service:latest
    ports:
      - "${LOGGING_SERVICE_HOST_PORT_GRPC}:${LOGGING_SERVICE_CONTAINER_PORT_GRPC}"
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - ASPNETCORE_URLS=${ASPNETCORE_URL}:${LOGGING_SERVICE_CONTAINER_PORT_GRPC}
      - ConnectionStrings__LoggingDb=Server=mssql;Database=LoggingDb;User Id=${DB_ADMIN};Password=${DB_PASSWORD};Encrypt=True;TrustServerCertificate=True;MultipleActiveResultSets=True;Connection Timeout=30;
    networks:
      - backend_network
    depends_on:
      - mssql

  sportsdata-service:
    image: simpitch-sportsdata-service:latest
    ports:
      - "${SPORTSDATA_SERVICE_HOST_PORT_REST}:${SPORTSDATA_SERVICE_CONTAINER_PORT_REST}"
      - "${SPORTSDATA_SERVICE_HOST_PORT_GRPC}:${SPORTSDATA_SERVICE_CONTAINER_PORT_GRPC}"
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - ConnectionStrings__SportsDataDb=Server=mssql;Database=SportsDataDb;User Id=${DB_ADMIN};Password=${DB_PASSWORD};Encrypt=True;TrustServerCertificate=True;MultipleActiveResultSets=True;Connection Timeout=30;
      - GrpcLogging__Address=http://${LOGGING_SERVICE_NAME}:${LOGGING_SERVICE_CONTAINER_PORT_GRPC}
      - GrpcLogging__SourceName=SportsDataService
      - ConnectionStrings__Redis=${REDIS_CONN_STRING}

      #- Kestrel__Endpoints__Grpc__Url=http://0.0.0.0:${SPORTSDATA_SERVICE_CONTAINER_PORT_GRPC}
      #- Kestrel__Endpoints__Rest__Url=http://0.0.0.0:${SPORTSDATA_SERVICE_CONTAINER_PORT_REST}
    networks:
      - backend_network
    depends_on:
      - mssql
      - logging-service

  engine-service:
    image: simpitch-engine-service:latest
    ports:
      - "${ENGINE_SERVICE_HOST_PORT_REST}:${ENGINE_SERVICE_CONTAINER_PORT_REST}"
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - ASPNETCORE_URLS=${ASPNETCORE_URL}:${ENGINE_SERVICE_CONTAINER_PORT_REST}
      - ConnectionStrings__EngineDb=Server=mssql;Database=EngineDb;User Id=${DB_ADMIN};Password=${DB_PASSWORD};Encrypt=True;TrustServerCertificate=True;MultipleActiveResultSets=True;Connection Timeout=30;
      - GrpcLogging__Address=http://${LOGGING_SERVICE_NAME}:${LOGGING_SERVICE_CONTAINER_PORT_GRPC}
      - GrpcLogging__SourceName=EngineService
      - SimulationService__Address=http://${SIMULATION_SERVICE_NAME}:${SIMULATION_SERVICE_CONTAINER_PORT_GRPC}
      - StatisticsService__Address=http://${STATISTICS_SERVICE_NAME}:${STATISTICS_SERVICE_CONTAINER_PORT_GRPC}
    networks:
      - backend_network
    depends_on:
      - mssql
      - logging-service
      - statistics-service
      - simulation-service

  simulation-service:
    image: simpitch-simulation-service:latest
    ports:
      - "${SIMULATION_SERVICE_HOST_PORT_GRPC}:${SIMULATION_SERVICE_CONTAINER_PORT_GRPC}"
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - ASPNETCORE_URLS=${ASPNETCORE_URL}:${SIMULATION_SERVICE_CONTAINER_PORT_GRPC}
      - ConnectionStrings__SimulationDb=Server=mssql;Database=SimulationDb;User Id=${DB_ADMIN};Password=${DB_PASSWORD};Encrypt=True;TrustServerCertificate=True;MultipleActiveResultSets=True;Connection Timeout=30;
      - ConnectionStrings__Redis=${REDIS_CONN_STRING}
      - GrpcLogging__Address=http://${LOGGING_SERVICE_NAME}:${LOGGING_SERVICE_CONTAINER_PORT_GRPC}
      - GrpcLogging__SourceName=SimulationService
      - SportsDataService__Address=http://${SPORTSDATA_SERVICE_NAME}:${SPORTSDATA_SERVICE_CONTAINER_PORT_GRPC}
      - StatisticsService__Address=http://${STATISTICS_SERVICE_NAME}:${STATISTICS_SERVICE_CONTAINER_PORT_GRPC}
    networks:
      - backend_network
    depends_on:
      - mssql
      - logging-service

  statistics-service:
    image: simpitch-statistics-service:latest
    ports:
      - "${STATISTICS_SERVICE_HOST_PORT_GRPC}:${STATISTICS_SERVICE_CONTAINER_PORT_GRPC}"
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - ASPNETCORE_URLS=${ASPNETCORE_URL}:${STATISTICS_SERVICE_CONTAINER_PORT_GRPC}
      - ConnectionStrings__StatisticsDb=Server=mssql;Database=StatisticsDb;User Id=${DB_ADMIN};Password=${DB_PASSWORD};Encrypt=True;TrustServerCertificate=True;MultipleActiveResultSets=True;Connection Timeout=30;
      - GrpcLogging__Address=http://${LOGGING_SERVICE_NAME}:${LOGGING_SERVICE_CONTAINER_PORT_GRPC}
      - GrpcLogging__SourceName=StatisticsService
      - SportsDataService__Address=http://${SPORTSDATA_SERVICE_NAME}:${SPORTSDATA_SERVICE_CONTAINER_PORT_GRPC}
      - SimulationService__Address=http://${SIMULATION_SERVICE_NAME}:${SIMULATION_SERVICE_CONTAINER_PORT_GRPC}
    networks:
      - backend_network
    depends_on:
      - mssql
      - logging-service

  redis-cache:
    image: redis:6.2-alpine
    restart: always
    ports:
      - '${REDIS_PORT}:${REDIS_PORT}'
    command: redis-server --save 20 1 --loglevel warning --requirepass ${REDIS_PASS}
    networks:
      - backend_network
    volumes: 
      - cache:/data

  mssql:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      SA_PASSWORD: ${DB_PASSWORD}
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    networks:
      - backend_network
    volumes:
      - mssql_data:/var/opt/mssql
    restart: no


  mssql-init:
    image: simpitch-mssql-init:latest
    environment:
      DB_ADMIN: ${DB_ADMIN}
      SA_PASSWORD: ${DB_PASSWORD}
    networks:
      - backend_network
    depends_on:
      - mssql
  
  seed-data:
    image: simpitch-seed-data:latest
    environment:
      DB_ADMIN: ${DB_ADMIN}
      SA_PASSWORD: ${DB_PASSWORD}
      SEED_DATA: ${SEED_DATA}
    networks:
      - backend_network
    depends_on:
      - mssql
      - mssql-init


  frontend:
    image: simpitch-frontend:latest
    ports: 
      - "${WEB_DEV_PORT}:${WEB_DEV_PORT}"
    expose:
      - "${WEB_DEV_PORT}"
    environment:
    - NODE_ENV=development
    - VITE_API_TARGET=${VITE_API_TARGET}
    - DOCKER_ENV=true
    - HMR_HOST=localhost
    command: npm run dev -- --host --port ${WEB_DEV_PORT}
    restart: unless-stopped
    networks:
      - backend_network
    depends_on:
      - logging-service
  gateway:
    image: simpitch-gateway:latest
    ports:
      - "${GATEWAY_HOST_PORT}:${GATEWAY_SERVICE_CONTAINER_PORT}"
    depends_on:
      - engine-service
      - logging-service
      - statistics-service
      - simulation-service
    networks:
      - backend_network
    restart: unless-stopped


selenium:
  image: selenium/standalone-chrome:latest
  shm_size: 2gb
  networks:
    - backend_network
  depends_on:
    - gateway
    - engine-service
    - logging-service
    - statistics-service
    - simulation-service


networks:
  backend_network:

volumes:
  mssql_data:
  cache:
    driver: local