SPORTSDATA_SERVICE_HOST_PORT=000
SPORTSDATA_SERVICE_CONTAINER_PORT=000

LOGGING_SERVICE_HOST_PORT=000
LOGGING_SERVICE_CONTAINER_PORT=000

SIMULATION_SERVICE_HOST_PORT=000
SIMULATION_SERVICE_CONTAINER_PORT=000

STATISTICS_SERVICE_HOST_PORT=000
STATISTICS_SERVICE_CONTAINER_PORT=000

ENGINE_SERVICE_HOST_PORT=000
ENGINE_SERVICE_CONTAINER_PORT=000

DB_ADMIN=
DB_PASSWORD=
SEED_DATA=

LOGGING_SERVICE_NAME=
SPORTSDATA_SERVICE_NAME=
SIMULATION_SERVICE_NAME=
STATISTICS_SERVICE_NAME=
ENGINE_SERVICE_NAME=



ASPNETCORE_URL=http://0.0.0.0
ASPNETCORE_ENVIRONMENT=Development

WEB_DEV_URL=
WEB_DEV_PORT=
VITE_API_URL=

GATEWAY_HOST_PORT=
GATEWAY_SERVICE_CONTAINER_PORT=