SPORTSDATA_SERVICE_HOST_PORT_GRPC=40011
SPORTSDATA_SERVICE_CONTAINER_PORT_GRPC=81

SPORTSDATA_SERVICE_HOST_PORT_REST=4001
SPORTSDATA_SERVICE_CONTAINER_PORT_REST=80

LOGGING_SERVICE_HOST_PORT_GRPC=40022
LOGGING_SERVICE_CONTAINER_PORT_GRPC=81

SIMULATION_SERVICE_HOST_PORT_GRPC=40033
SIMULATION_SERVICE_CONTAINER_PORT_GRPC=81

STATISTICS_SERVICE_HOST_PORT_GRPC=40044
STATISTICS_SERVICE_CONTAINER_PORT_GRPC=81

ENGINE_SERVICE_HOST_PORT_REST=4005
ENGINE_SERVICE_CONTAINER_PORT_REST=80

SIMPITCHML_SERVICE_HOST_PORT_REST=4006
SIMPITCHML_SERVICE_CONTAINER_PORT_REST=80

SIMPITCHML_SERVICE_HOST_PORT_GRPC=40066
SIMPITCHML_SERVICE_CONTAINER_PORT_GRPC=81

REDIS_PORT=6379
REDIS_PASS=MySuperSecretPassword
REDIS_CONN_STRING="redis:6379,password=MySuperSecretPassword"

DB_ADMIN=sa
DB_PASSWORD=Zaq1@wsx
SEED_DATA=false

LOGGING_SERVICE_NAME="logging-service"
SPORTSDATA_SERVICE_NAME="sportsdata-service"
SIMULATION_SERVICE_NAME="simulation-service"
STATISTICS_SERVICE_NAME="statistics-service"
ENGINE_SERVICE_NAME="engine-service"
REDIS_SERVICE_NAME="redis"


ASPNETCORE_URL=http://0.0.0.0
ASPNETCORE_ENVIRONMENT=Development

WEB_DEV_PORT=5173
VITE_API_URL=http://gateway:80

GATEWAY_HOST_PORT=8080
GATEWAY_SERVICE_CONTAINER_PORT=80