SIMULATIONAPI_HOST_PORT=000
SIMULATIONAPI_CONTAINER_PORT=000

SPORTSDATA_SERVICE_HOST_PORT=000
SPORTSDATA_SERVICE_CONTAINER_PORT=000

LOGGING_SERVICE_HOST_PORT=000
LOGGING_SERVICE_CONTAINER_PORT=000

DB_ADMIN=
DB_PASSWORD=

ASPNETCORE_URL=http://0.0.0.0
ASPNETCORE_ENVIRONMENT=Development
